.services {
  position: relative;
  padding: 0 0;

  &__content {
    padding: 1rem;
    margin: 0rem;

    p{
        font-size: 0.8rem0;

        @include media-breakpoint-up(lg){
            margin-top: 1rem;
        }
    }

    @include media-breakpoint-up(lg){
        margin-top: 5rem;
    }

    .icon {
      font-size: 1.5rem;
      color: $primary;

      @include media-breakpoint-up(lg){
        margin-top: 2.5rem;
    }
    }
  }
  &__pic{
      max-width: 100%;

      @include media-breakpoint-only(xs){
          display: none;
      }
  }
}
